@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";
@import "https://unpkg.com/open-props/shadows.min.css";
@import "https://unpkg.com/open-props/easings.min.css";
@import "https://unpkg.com/open-props/masks.edges.min.css";
body{
    background-color: var(--gray-9);
}
.container{
    margin: 2%;
    padding: 5%;
     p{
        color: var(--gray-0);
        font-family: var(--font-sans);
        font-size: var(--font-size-3);
        line-height: 1.6;
        margin-bottom: var(--size-4);
    }
     img{
        border-radius: 5%;
        box-shadow: var(--shadow-4);
    }
    h1{
        color: var(--gray-0);
        font-size: var(--font-size-8);
        line-height: 1.2;
        margin-bottom: var(--size-7);
    }
    h2{
        color: var(--gray-0);
        font-size: var(--font-size-6);
        line-height: 1.2;
        margin-bottom: var(--size-5);
    }
}
.Introdução{   
    margin: 0%;
    margin-bottom: var(--size-8);
    display: flex;
    flex-direction: column;
    align-items: center;
    .lado1{
        text-align: center;
        padding-block-end: var(--size-8);
    }
    .lado2{
        display: flex;
        justify-content: center;
        height: auto;
        width: var(--size-15);
        margin-top: 4%;
        padding-block: var(--size-7);
    }
}
.Importância{
    margin-bottom: var(--size-8);
    .card-pai{
        margin: var(--size-4);
        padding: 1%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card{
        margin-bottom: 1%;
        padding: var(--size-8);
        background-color: var(--blue-7);
        width: 30%;
        height: var(--size-px-15);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: var(--radius-3);
        transition: transform 0.2s var(--ease-elastic-4);
        box-shadow: var(--shadow-4);
    }
    .card:hover{
        transform: scale(1.05);
        box-shadow: var(--shadow-6);
    }
}
.card-demo {
  margin-inline: var(--size-12 );
  padding-top: var(--size-12);
  background-color: var(--card-bg, var(--blue-5)); 
  padding: var(--size-5);
  border-radius: var(--radius-3);
  color: var(--gray-0);
  display: flex;
  justify-content: center;
  transition: background-color 0.3s var(--ease-2);
  p{
    color: var(--gray-12);
  }
}


.botoes-container {
  display: flex;
  flex-wrap: wrap; 
  gap: var(--size-2);
  margin-top: var(--size-4);
  justify-content: center;
}

.botoes-container button {
  padding: var(--size-2) var(--size-3);
  border: none;
  border-radius: var(--radius-2);
  color: var(--gray-0);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s var(--ease-2);
}

.botoes-container button:hover {
  transform: scale(1.05);
}
.contexto{
    margin-bottom: var(--size-8);
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    .parte1{
        width: 60%;
    }
    .parte2{
        margin-left: var(--size-px-5);
        margin-top: 8%;
        img{
            border-radius: var(--radius-blob-4);
            height: var(--size-px-15);
            width: auto;
        }
    }
}
.titulomain{
    color: var(--indigo-6);
    font-size: var(--size-10);
}


/*planos*/

.planos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-px-10);
    padding-block: var(--size-9);
}
.plano1{
    background-image: var(--gradient-9);
    padding-block-start: var(--size-px-4) ;
    padding-block-end: var(--size-px-8);
    padding-inline: var(--size-px-8);
    border: var(--border-size-1) solid var(--gray-1);
    border-radius: var(--radius-conditional-3);
    box-shadow: var(--shadow-5);
    transition: transform 0.2s var(--ease-elastic-3);
}
.plano1:hover{
        transform: scale(1.05);
    }
.plano2{
    background-image: var(--gradient-4);
    padding-block-start: var(--size-px-4) ;
    padding-block-end: var(--size-px-8);
    padding-inline: var(--size-px-8);
    border: var(--border-size-1) solid var(--gray-1);
    border-radius: var(--radius-conditional-3);
    box-shadow: var(--shadow-5);
    transition: transform 0.2s var(--ease-elastic-3);
}
.plano2:hover{
        transform: scale(1.05);
    }
.planot{
    padding-top: var(--size-px-2);
    display: flex;
    justify-content: space-between;
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-8);
}
#planot{
    color: var(--gray-9)
}
ul{
    padding-block: var(--size-px-4);
    list-style: none;
}
.listaplano::before{
    content: "✔ ";
}
.listaplanou::before{
    content: "✔ ";
}
.listaplanou2:before{
    content: "✗";
}
.listaplano{
    line-height: var(--size-px-8);
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-3);
    color: var(--gray-9);
    border-bottom: var(--border-size-1) solid var(--gray-10);
    padding-block: var(--size-px-2);
}
.listaplanou{
    line-height: var(--size-px-8);
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-3);
    padding-block-start: var(--size-px-2);
    padding-inline-start: var(--size-px-2);
    color: var(--gray-9);
}
.listaplanou2{
    line-height: var(--size-px-8);
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-3);
    padding-block-start: var(--size-px-2);
    padding-inline-start: var(--size-px-2);
    color: var(--gray-9);}
.preco{
    display: flex;
    justify-content: start;
    color: var(--gray-8);
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-7);
    border-block: var(--border-size-1) solid var(--gray-10);
    border-color: var(--gray-6);
    padding-block: var(--size-px-5);
}
.moeda{
    display: flex;
    justify-content: start;
    font-weight: var(--font-weight-3);
    font-size: var(--font-size-5);
    color: var(--gray-7);
    padding-block-start: var(--size-px-3);
    padding-inline-end: var(--size-px-2);
}
.botao{
    padding-block-start: var(--size-px-5);
    display: flex;
    flex-direction: row-reverse;
    font-size: var(--size-px-5);
}



/*header*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--size-11);
    background-color: var(--gray-8);
    z-index: var(--layer-1);
}
.liheader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--size-px-3);
}
.movheader{
    font-size: var(--font-size-4);
}
.movheader:hover{
    color: var(--blue-8);
    animation: var(--animation-scale-up) forwards;
}
.logohead{
    padding: var(--size-00);
    width: var(--size-10);
}
.logohead:hover{
    animation: var(--animation-scale-up) forwards;
}


/*footer*/

.footer{
    padding-block: var(--size-9);
    border-top: var(--border-size-1) solid var(--blue-10);
    display: flex;
    justify-content: space-evenly;
    gap: var(--size-px-10);
    box-shadow: var(--shadow-5);
}
.footer:root{
    --shadow-color: 210 12% 15%;
    --shadow-strenght: 75%;
}
.footer1{
    font-size: var(--font-size-4);
}
.footer2{
    font-size: var(--font-size-4);
}


