    @import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";
@import "open-props/shadows";
@import "https://unpkg.com/open-props/easings.min.css";

/*Planos*/

.planos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-px-10);
    padding-block: var(--size-12);
}
.plano1{
    background-image: var(--gradient-9);
    padding-block-start: var(--size-px-4) ;
    padding-block-end: var(--size-px-8);
    padding-inline: var(--size-px-8);
    border: var(--border-size-1) solid var(--gray-1);
    border-radius: var(--radius-conditional-3);
}
.plano2{
    background-image: var(--gradient-4);
    padding-block-start: var(--size-px-4) ;
    padding-block-end: var(--size-px-8);
    padding-inline: var(--size-px-8);
    border: var(--border-size-1) solid var(--gray-1);
    border-radius: var(--radius-conditional-3);
}
.planot{
    padding-top: var(--size-px-2);
    display: flex;
    justify-content: space-between;
    color: var(--gray-9);
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-8);
}
ul{
    padding-block: var(--size-px-4);
    list-style: none;
}
.listaplano::before{
    content: "✔ ";
}
.listaplanou::before{
    content: "✔ ";
}
.listaplano{
    line-height: var(--size-px-8);
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-3);
    color: var(--gray-9);
    border-bottom: var(--border-size-1) solid var(--gray-10);
    padding-block: var(--size-px-2);
}
.listaplanou{
    line-height: var(--size-px-8);
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-3);
    padding-block-start: var(--size-px-2);
    padding-inline-start: var(--size-px-2);
    color: var(--gray-9);
}
.preco{
    display: flex;
    justify-content: start;
    color: var(--gray-8);
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-7);
    border-block: var(--border-size-1) solid var(--gray-10);
    border-color: var(--gray-6);
    padding-block: var(--size-px-5);
}
.moeda{
    display: flex;
    justify-content: start;
    font-weight: var(--font-weight-3);
    font-size: var(--font-size-5);
    color: var(--gray-7);
    padding-block-start: var(--size-px-3);
    padding-inline-end: var(--size-px-2);
}
.botao{
    padding-block-start: var(--size-px-5);
    display: flex;
    flex-direction: row-reverse;
    font-size: var(--size-px-5);
}



/*header*/

.header {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: var(--gradient-8);
    z-index: var(--layer-1);
}

.liheader {
    display: flex;
    justify-content: space-evenly;
    padding: var(--size-px-3);
}
.movheader:hover{
    color: var(--blue-8);
}

/*footer*/

.footer{
    padding-block: var(--size-9);
    border-top: var(--border-size-1) solid var(--blue-10);
    display: flex;
    justify-content: space-evenly;
    gap: var(--size-px-10);
    box-shadow: var(--shadow-4);
}
.footer:root{
    --shadow-color: 210 12% 15%;
    --shadow-strenght: 75%;
}
.footer1{
    font-size: var(--font-size-4);
}
.footer2{
    font-size: var(--font-size-4);
}


